.Reg {
    border: 1px dotted greenyellow;
    background-color: azure;
    position: relative;
    left: 45%;
    margin-left: -50px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;

}

.Navbar {
    border: 1px dotted;
    position: relative;
    margin-top: 1px;

}

.Login {

    border: 1px dotted greenyellow;
    background-color: azure;
    position: relative;
    left: 45%;
    margin-left: -50px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;

}

.EditBox {
    position: relative;
    left: 40%;
    margin-left: -50px;
    width: 400px;
    height: 350px;
}

.Posts {

    position: relative;
    left: 20px;
    margin-left: -50px;
    width: 350px;
    height: 900px;
    display: flex;
    flex-direction: column;
}

.AddPost {
    border: 1px dotted greenyellow;
    background-color: azure;
    position: relative;
    left: 40%;
    margin-left: -50px;
    width: 350px;
    height: 400px;

}

.Iconi {
    left: 80px;
    margin-left: -50px;
}

.Pagi {

    flex: 1;

}

.Postid {
    position: relative;
    left: 10%;
    margin-left: -50px;
    width: 400px;
    height: 350px;

}

.dialogbox .body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #DADADA;
    border-radius: 3px;
}

.Profile {
    position: relative;
    left: 45%;
    margin-left: -50px;
    width: 300px;
    height: 500px;
}

.ForgetPass {
    position: relative;
    left: 45%;
    margin-left: -50px;
    width: 350px;
    height: 400px;

}

.Resetpassword {
    position: relative;
    left: 45%;
    margin-left: -50px;
    width: 350px;
    height: 400px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}